<ion-header [translucent]="true">
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title color="dark">
            Photos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
       
        <ion-item-sliding *ngFor="let img of photoList">
            <ion-item-options side="start">
                <ion-item-option (click)="alert(img.id)">LEFT</ion-item-option>
            </ion-item-options>
            
            <app-list-item [img]="img"></app-list-item>
            
            <ion-item-options side="end">
                <ion-item-option color="danger">RIGHT</ion-item-option>
            </ion-item-options>
            
        </ion-item-sliding>
        
    </ion-list>
</ion-content>
