h1{
    font-family: 'Bodoni Moda', serif;
    text-align: center;
    font-size: 2.5rem;
}

.p{
    font-family: 'Bodoni Moda', serif;
    text-align: center;
    font-size: 1.5rem;
}

.test{
    background-image: url(../../assets/photos/fond-aquarelle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}