<ion-header [translucent]="true">

    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title color="dark">
            Home
        </ion-title>
    </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@1,500&family=Hachi+Maru+Pop&display=swap');

    </style>

    <div class="test">
        <h1>Bienvenue</h1>
        <div class="p">
            <p>Première application avec Tabs et SideMenu qui gère une liste de photo</p>
            <p>Mes photos en favoris : </p>
        </div>

        <ion-list>
            <app-list-item *ngFor="let img of photoList" [img]="img">
            </app-list-item>
        </ion-list>
    </div>
</ion-content>
